.text
    width: 100%
    height: 200px
    background-color: rgb(172, 171, 171)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: $roboto
    p
        margin: 0
        color: #585c61
        font-size: large
    p:first-of-type    
        span:first-of-type
            background-color: #1592a9
            color: white
            padding-left: 1.5px
            padding-right: 1.5px
            padding-bottom: 1px
    p:nth-of-type(2)        
        span:first-of-type
            color:  #1592a9
            font-weight: bold
        span:last-of-type
            font-weight: bold
    p:last-of-type
        line-height: 3
.blocs
    width: 100%
    height: 350px
    background-color: white
    display: flex
    justify-content: center
    align-items: center
    font-family: $roboto
    div
        width: 70%
        display: flex
        justify-content: space-between
        i
            background-color: white
            width: 40px
            height: 40px
            border-radius: 50%
            margin-top: 5px
            display: flex
            justify-content: center
            align-items: center
        h2
            font-family: $roboto
            font-size: large
            font-weight: lighter
        span
            color: #1592a9
        p
            color: #585c61 
            font-size: small
            text-align: center
            width: 90% 
        div
            width: 24%
            height: 250px
            background-color:  rgb(172, 171, 171)
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            border-radius: 10px
.blocs2
    width: 100%
    height: 350px
    background-color: white
    display: flex
    justify-content: center
    .contain
        width: 70%
        display: flex
        justify-content: space-between
        align-items: center
        .recent
            display: flex
            flex-direction: column
            font-family: $roboto
            width: 35%
            h3
                color: #585c61
                margin-top: 0
            p:first-of-type
                font-size: smaller
                color: #7e848c
                margin: 0
            p:last-of-type
                font-size: smaller
                color: #585c61
            a
                button
                    background-color: #3c7bbf
                    height: 40px
                    width: 80px
                    font-size: 10px
                    border-radius: 10px
                    color: white
                    border: none
        .catalogue
            display: flex
            justify-content: space-between
            align-items: flex-start
            width: 60%
            div:first-of-type
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                width: 33%
                .bgImg
                    width: 100%
                    height: 125px
                    background-image: url("../img/flati-design-screenshot1.png")
                    background-size: contain
                    background-repeat: no-repeat                
                .bgBleu
                    width: 100%
                    height: 85px
                    background-color: rgb(49, 49, 60)
                    color: white
                    border-bottom-left-radius: 5px
                    border-bottom-right-radius: 5px 
                    h4
                        margin: 0
                    p
                        font-size: smaller
            div:nth-of-type(2)
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                width: 33%
                .bgImg
                    width: 100%
                    height: 125px
                    background-image: url("../img/flati-design-screenshot2.png")
                    background-size: contain
                    background-repeat: no-repeat              
                .bgBleu
                    width: 100%
                    height: 85px
                    background-color: rgb(49, 49, 60)
                    color: white
                    border-bottom-left-radius: 5px
                    border-bottom-right-radius: 5px 
                    h4
                        margin: 0
                    p
                        font-size: smaller
            div:last-of-type
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                width: 33%
                .bgImg
                    width: 100%
                    height: 125px
                    background-image: url("../img/flati-design-screenshot3.png")
                    background-size: contain
                    background-repeat: no-repeat              
                .bgBleu
                    width: 100%
                    height: 85px
                    background-color: rgb(49, 49, 60)
                    color: white
                    border-bottom-left-radius: 5px
                    border-bottom-right-radius: 5px 
                    h4
                        margin: 0
                    p
                        font-size: smaller

                
.getInTouch
    width: 100%
    height: 230px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    background-color: #3c7bbf
    color: white
    font-family: $roboto
    h4
        font-weight: lighter


